.img-profile{
    border-radius: 50%;
    border: 0.25rem solid #FFFF;
}

.form-control {
    outline: none;
    box-shadow:none !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
}

.logo{
    width: 60px;
    height: 60px;
    object-fit: scale-down;
}

.laguage-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.fade-in-element {
    opacity: 0;
    transform: translateY(20px); /* Optional: Start slightly below the viewport */
    transition: opacity 0.5s, transform 0.5s;
}

.fade-in-element.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}


@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}